# http://editorconfig.org
# Match with prettier.config.js AND .gitattributes
# See comments in
# https://git.unify360.cgi.com:50043/unify360/frontend-bindings/blob/v1.0.1/conventions/use-prettier/prettier.config.js
# https://git.unify360.cgi.com:50043/unify360/frontend-bindings/blob/v1.0.1/.gitattributes
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
